!pip install ipython-sql
!pip install sqlalchemy
!pip install mysql-connector-python

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Load CSV into pandas (change to .xlsx if needed)
df = pd.read_csv("C:\\Users\\K KASHA\\OneDrive - Vidyalankar School of Information Technology\\Desktop\\SQL Basics\\Sample - Superstore.csv", encoding="latin1")
# Connect to SQLite database (creates superstore.db if not exists)
engine = create_engine("sqlite:///superstore.db")

# Save dataframe into a SQL table
df.to_sql("superstore", engine, if_exists="replace", index=False)

print("Data loaded successfully into SQLite!")

Data loaded successfully into SQLite!


# Project Title : Superstore Sales Analysis using SQL

## Introduction
This project analyzes the Superstore dataset using SQL queries.  
The dataset contains sales, profit, and category-wise details of order
s.

## Dataset Overview
The dataset includes the following columns:
- Order ID
- Customer Name
- Category
- Sub-Category
- Sales
- Profit
- Quantity
- Region

# 🎯 Data Retrieval Basics

### 1. "Show Me Everything!" – Retrieving All Data
Explanation:
#### This fetches all columns and all rows from the table. It’s the simplest way to view your entire dataset.

### Query

In [14]:
df_unique = pd.read_sql_query('SELECT * FROM superstore;', engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2016-152156  11-08-2016  11-11-2016    Second Class
1          2  CA-2016-152156  11-08-2016  11-11-2016    Second Class
2          3  CA-2016-138688  06-12-2016   6/16/2016    Second Class
3          4  US-2015-108966  10-11-2015  10/18/2015  Standard Class
4          5  US-2015-108966  10-11-2015  10/18/2015  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2014-110422   1/21/2014   1/23/2014    Second Class
9990    9991  CA-2017-121258   2/26/2017  03-03-2017  Standard Class
9991    9992  CA-2017-121258   2/26/2017  03-03-2017  Standard Class
9992    9993  CA-2017-121258   2/26/2017  03-03-2017  Standard Class
9993    9994  CA-2017-119914  05-04-2017  05-09-2017    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

## 2."Just the Essentials" – Selecting Specific Columns
Explanation:
#### Here, instead of grabbing the whole dataset, we focus on only three important columns: order ID, customer name, and sales.

## Query

In [13]:
df_unique = pd.read_sql_query('SELECT "Order ID" ,"Customer Name" , "Sales" FROM superstore;', engine)
print(df_unique)

            Order ID     Customer Name     Sales
0     CA-2016-152156       Claire Gute  261.9600
1     CA-2016-152156       Claire Gute  731.9400
2     CA-2016-138688   Darrin Van Huff   14.6200
3     US-2015-108966    Sean O'Donnell  957.5775
4     US-2015-108966    Sean O'Donnell   22.3680
...              ...               ...       ...
9989  CA-2014-110422  Tom Boeckenhauer   25.2480
9990  CA-2017-121258       Dave Brooks   91.9600
9991  CA-2017-121258       Dave Brooks  258.5760
9992  CA-2017-121258       Dave Brooks   29.6000
9993  CA-2017-119914      Chris Cortes  243.1600

[9994 rows x 3 columns]

## 3."Quick Peek" – First 10 Rows
Explanation:
#### The TOP 10 keyword gives only the first 10 records — useful for previewing data without overloading your output.

### Query

In [10]:
df_unique = pd.read_sql_query("SELECT * FROM superstore LIMIT 10;", engine)
print(df_unique)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
1       2  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
2       3  CA-2016-138688  06-12-2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335
5       6  CA-2014-115812  06-09-2014   6/14/2014  Standard Class    BH-11710
6       7  CA-2014-115812  06-09-2014   6/14/2014  Standard Class    BH-11710
7       8  CA-2014-115812  06-09-2014   6/14/2014  Standard Class    BH-11710
8       9  CA-2014-115812  06-09-2014   6/14/2014  Standard Class    BH-11710
9      10  CA-2014-115812  06-09-2014   6/14/2014  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage
5       90032    West  FUR-FU-10001487        Furniture  Furnishings
6       90032    West  OFF-AR-10002833  Office Supplies          Art
7       90032    West  TEC-PH-10002275       Technology       Phones
8       90032    West  OFF-BI-10003910  Office Supplies      Binders
9       90032    West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
6                                         Newell 322    7.2800         4
7                     Mitel 5320 IP Phone VoIP phone  907.1520         6
8  DXL Angle-View Binders with Locking Rings by S...   18.5040         3
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000         5

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
5      0.00   14.1694
6      0.00    1.9656
7      0.20   90.7152
8      0.20    5.7825
9      0.00   34.4700

[10 rows x 21 columns]

## 4. “Furniture Only, Please” – Filtering by Category
Explanation:
#### This retrieves only those rows where the category is Furniture.

### Query

In [8]:
df_unique = pd.read_sql_query("SELECT * FROM superstore WHERE Category = 'Furniture';", engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2016-152156  11-08-2016  11-11-2016    Second Class
1          2  CA-2016-152156  11-08-2016  11-11-2016    Second Class
2          4  US-2015-108966  10-11-2015  10/18/2015  Standard Class
3          6  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
4         11  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
2116    9963  CA-2015-168088   3/19/2015   3/22/2015     First Class
2117    9965  CA-2016-146374  12-05-2016  12-10-2016    Second Class
2118    9981  US-2015-151435  09-06-2015  09-09-2015    Second Class
2119    9990  CA-2014-110422   1/21/2014   1/23/2014    Second Class
2120    9991  CA-2017-121258   2/26/2017  03-03-2017  Standard Class

     Customer ID     Customer Name      Segment        Country  \
0       CG-12520       Claire Gute     Consumer  United States
1       CG-12520       Claire Gute     Consumer  United States
2       SO-20335    Sean O'Donnell     Consumer  United States
3       BH-11710   Brosina Hoffman     Consumer  United States
4       BH-11710   Brosina Hoffman     Consumer  United States
...          ...               ...          ...            ...
2116    CM-12655  Corinna Mitchell  Home Office  United States
2117    HE-14800      Harold Engle    Corporate  United States
2118    SW-20455       Shaun Weien     Consumer  United States
2119    TB-21400  Tom Boeckenhauer     Consumer  United States
2120    DB-13060       Dave Brooks     Consumer  United States

                 City  ... Postal Code   Region       Product ID   Category  \
0           Henderson  ...       42420    South  FUR-BO-10001798  Furniture
1           Henderson  ...       42420    South  FUR-CH-10000454  Furniture
2     Fort Lauderdale  ...       33311    South  FUR-TA-10000577  Furniture
3         Los Angeles  ...       90032     West  FUR-FU-10001487  Furniture
4         Los Angeles  ...       90032     West  FUR-TA-10001539  Furniture
...               ...  ...         ...      ...              ...        ...
2116          Houston  ...       77041  Central  FUR-BO-10004218  Furniture
2117           Newark  ...       19711     East  FUR-FU-10002671  Furniture
2118        Lafayette  ...       70506    South  FUR-TA-10001039  Furniture
2119            Miami  ...       33180    South  FUR-FU-10001889  Furniture
2120       Costa Mesa  ...       92627     West  FUR-FU-10000747  Furniture

     Sub-Category                                       Product Name  \
0       Bookcases                  Bush Somerset Collection Bookcase
1          Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2          Tables      Bretford CR4500 Series Slim Rectangular Table
3     Furnishings  Eldon Expressions Wood and Plastic Desk Access...
4          Tables           Chromcraft Rectangular Conference Tables
...           ...                                                ...
2116    Bookcases  Bush Heritage Pine Collection 5-Shelf Bookcase...
2117  Furnishings  Electrix 20W Halogen Replacement Bulb for Zoom...
2118       Tables                         KI Adjustable-Height Table
2119  Furnishings                             Ultra Door Pull Handle
2120  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...

          Sales  Quantity  Discount    Profit
0      261.9600         2      0.00   41.9136
1      731.9400         3      0.00  219.5820
2      957.5775         5      0.45 -383.0310
3       48.8600         7      0.00   14.1694
4     1706.1840         9      0.20   85.3092
...         ...       ...       ...       ...
2116   383.4656         4      0.32  -67.6704
2117    13.4000         1      0.00    6.4320
2118    85.9800         1      0.00   22.3548
2119    25.2480         3      0.20    4.1028
2120    91.9600         2      0.00   15.6332

[2121 rows x 21 columns]

## 5. “Heading West” – Region-Specific Orders
Explanation:
#### Focuses only on records where the region is West. Great for regional sales analysis.

### Query

In [15]:
df_unique = pd.read_sql_query("SELECT * FROM superstore WHERE Region = 'West';", engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          3  CA-2016-138688  06-12-2016   6/16/2016    Second Class
1          6  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
2          7  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
3          8  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
4          9  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
3198    9987  CA-2016-125794   9/29/2016  10-03-2016  Standard Class
3199    9991  CA-2017-121258   2/26/2017  03-03-2017  Standard Class
3200    9992  CA-2017-121258   2/26/2017  03-03-2017  Standard Class
3201    9993  CA-2017-121258   2/26/2017  03-03-2017  Standard Class
3202    9994  CA-2017-119914  05-04-2017  05-09-2017    Second Class

     Customer ID    Customer Name    Segment        Country         City  ...  \
0       DV-13045  Darrin Van Huff  Corporate  United States  Los Angeles  ...
1       BH-11710  Brosina Hoffman   Consumer  United States  Los Angeles  ...
2       BH-11710  Brosina Hoffman   Consumer  United States  Los Angeles  ...
3       BH-11710  Brosina Hoffman   Consumer  United States  Los Angeles  ...
4       BH-11710  Brosina Hoffman   Consumer  United States  Los Angeles  ...
...          ...              ...        ...            ...          ...  ...
3198    ML-17410     Maris LaWare   Consumer  United States  Los Angeles  ...
3199    DB-13060      Dave Brooks   Consumer  United States   Costa Mesa  ...
3200    DB-13060      Dave Brooks   Consumer  United States   Costa Mesa  ...
3201    DB-13060      Dave Brooks   Consumer  United States   Costa Mesa  ...
3202    CC-12220     Chris Cortes   Consumer  United States  Westminster  ...

     Postal Code  Region       Product ID         Category Sub-Category  \
0          90036    West  OFF-LA-10000240  Office Supplies       Labels
1          90032    West  FUR-FU-10001487        Furniture  Furnishings
2          90032    West  OFF-AR-10002833  Office Supplies          Art
3          90032    West  TEC-PH-10002275       Technology       Phones
4          90032    West  OFF-BI-10003910  Office Supplies      Binders
...          ...     ...              ...              ...          ...
3198       90008    West  TEC-AC-10003399       Technology  Accessories
3199       92627    West  FUR-FU-10000747        Furniture  Furnishings
3200       92627    West  TEC-PH-10003645       Technology       Phones
3201       92627    West  OFF-PA-10004041  Office Supplies        Paper
3202       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name    Sales  Quantity  \
0     Self-Adhesive Address Labels for Typewriters b...   14.620         2
1     Eldon Expressions Wood and Plastic Desk Access...   48.860         7
2                                            Newell 322    7.280         4
3                        Mitel 5320 IP Phone VoIP phone  907.152         6
4     DXL Angle-View Binders with Locking Rings by S...   18.504         3
...                                                 ...      ...       ...
3198  Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...   36.240         1
3199  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.960         2
3200                              Aastra 57i VoIP phone  258.576         2
3201  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.600         4
3202  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.160         2

      Discount   Profit
0          0.0   6.8714
1          0.0  14.1694
2          0.0   1.9656
3          0.2  90.7152
4          0.2   5.7825
...        ...      ...
3198       0.0  15.2208
3199       0.0  15.6332
3200       0.2  19.3932
3201       0.0  13.3200
3202       0.0  72.9480

[3203 rows x 21 columns]

## 6.“The 2018 Club” – Orders by Year
Explanation:
#### Filters records to show only those placed in 2018 using the LIKE '2018%' function.

### Query

In [25]:
query = "SELECT * FROM superstore  WHERE (LENGTH(\"Order Date\") = 10 AND SUBSTR(\"Order Date\", 7, 4) = '2018') OR (LENGTH(\"Order Date\") = 10 AND SUBSTR(\"Order Date\", 1, 4) = '2018');"
df_unique = pd.read_sql_query(query, engine)
print(df_unique)

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

## 7. “Big Spenders” – High-Value Sales
Explanation:
#### Pulls out records where sales exceeded 500, highlighting major transactions.

### Query

In [20]:
df_unique = pd.read_sql_query("SELECT * FROM superstore WHERE Sales > 500;",engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          2  CA-2016-152156  11-08-2016  11-11-2016    Second Class
1          4  US-2015-108966  10-11-2015  10/18/2015  Standard Class
2          8  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
3         11  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
4         12  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
1157    9932  CA-2015-104948  11/13/2015  11/17/2015  Standard Class
1158    9943  CA-2014-143371  12/28/2014  01-03-2015  Standard Class
1159    9948  CA-2017-121559  06-01-2017  06-03-2017    Second Class
1160    9949  CA-2017-121559  06-01-2017  06-03-2017    Second Class
1161    9969  CA-2017-153871  12-11-2017  12/17/2017  Standard Class

     Customer ID    Customer Name    Segment        Country             City  \
0       CG-12520      Claire Gute   Consumer  United States        Henderson
1       SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
2       BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
3       BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
4       BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
...          ...              ...        ...            ...              ...
1157    KH-16510    Keith Herrera   Consumer  United States   San Bernardino
1158    MD-17350    Maribeth Dona   Consumer  United States          Anaheim
1159    HW-14935  Helen Wasserman  Corporate  United States     Indianapolis
1160    HW-14935  Helen Wasserman  Corporate  United States     Indianapolis
1161    RB-19435  Richard Bierner   Consumer  United States       Plainfield

      ... Postal Code   Region       Product ID         Category Sub-Category  \
0     ...       42420    South  FUR-CH-10000454        Furniture       Chairs
1     ...       33311    South  FUR-TA-10000577        Furniture       Tables
2     ...       90032     West  TEC-PH-10002275       Technology       Phones
3     ...       90032     West  FUR-TA-10001539        Furniture       Tables
4     ...       90032     West  TEC-PH-10002033       Technology       Phones
...   ...         ...      ...              ...              ...          ...
1157  ...       92404     West  FUR-BO-10004357        Furniture    Bookcases
1158  ...       92804     West  OFF-ST-10001128  Office Supplies      Storage
1159  ...       46203  Central  FUR-CH-10003746        Furniture       Chairs
1160  ...       46203  Central  OFF-AP-10002945  Office Supplies   Appliances
1161  ...        7060     East  OFF-BI-10004600  Office Supplies      Binders

                                           Product Name      Sales  Quantity  \
0     Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400         3
1         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
2                        Mitel 5320 IP Phone VoIP phone   907.1520         6
3              Chromcraft Rectangular Conference Tables  1706.1840         9
4         Konftel 250 Conference phone - Charcoal black   911.4240         4
...                                                 ...        ...       ...
1157     O'Sullivan Living Dimensions 3-Shelf Bookcases   683.3320         4
1158        Carina Mini System Audio Rack, Model AR050B   998.8200         9
1159  Hon 4070 Series Pagoda Round Back Stacking Chairs  1925.8800         6
1160  Honeywell Enviracaire Portable HEPA Air Cleane...  2405.2000         8
1161          Ibico Ibimaster 300 Manual Binding System   735.9800         2

      Discount    Profit
0         0.00  219.5820
1         0.45 -383.0310
2         0.20   90.7152
3         0.20   85.3092
4         0.20   68.3568
...        ...       ...
1157      0.15  -40.1960
1158      0.00   29.9646
1159      0.00  539.2464
1160      0.00  793.7160
1161      0.00  331.1910

[1162 rows x 21 columns]

## 8. “What’s in the Region?” – Unique Region Values
Explanation:
#### DISTINCT helps list all unique region names without duplicates.

### Query

In [27]:
df_unique = pd.read_sql_query('SELECT DISTINCT "Region" AS Region FROM superstore;', engine)
print(df_unique)

    Region
0    South
1     West
2  Central
3     East

## 9. “Small Orders Matter Too” – Low Quantity Orders
Explanation:
#### Shows all orders where customers purchased fewer than 3 items.

### Query

In [28]:
df_unique = pd.read_sql_query('SELECT * FROM superstore WHERE "Quantity" > 3 ;',engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          4  US-2015-108966  10-11-2015  10/18/2015  Standard Class
1          6  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
2          7  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
3          8  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
4         10  CA-2014-115812  06-09-2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
4279    9983  US-2016-157728   9/22/2016   9/28/2016  Standard Class
4280    9985  CA-2015-100251   5/17/2015   5/23/2015  Standard Class
4281    9986  CA-2015-100251   5/17/2015   5/23/2015  Standard Class
4282    9989  CA-2017-163629  11/17/2017  11/21/2017  Standard Class
4283    9993  CA-2017-121258   2/26/2017  03-03-2017  Standard Class

     Customer ID     Customer Name    Segment        Country             City  \
0       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
1       BH-11710   Brosina Hoffman   Consumer  United States      Los Angeles
2       BH-11710   Brosina Hoffman   Consumer  United States      Los Angeles
3       BH-11710   Brosina Hoffman   Consumer  United States      Los Angeles
4       BH-11710   Brosina Hoffman   Consumer  United States      Los Angeles
...          ...               ...        ...            ...              ...
4279    RC-19960        Ryan Crowe   Consumer  United States     Grand Rapids
4280    DV-13465  Dianna Vittorini   Consumer  United States       Long Beach
4281    DV-13465  Dianna Vittorini   Consumer  United States       Long Beach
4282    RA-19885      Ruben Ausman  Corporate  United States           Athens
4283    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa

      ... Postal Code   Region       Product ID         Category Sub-Category  \
0     ...       33311    South  FUR-TA-10000577        Furniture       Tables
1     ...       90032     West  FUR-FU-10001487        Furniture  Furnishings
2     ...       90032     West  OFF-AR-10002833  Office Supplies          Art
3     ...       90032     West  TEC-PH-10002275       Technology       Phones
4     ...       90032     West  OFF-AP-10002892  Office Supplies   Appliances
...   ...         ...      ...              ...              ...          ...
4279  ...       49505  Central  OFF-PA-10002195  Office Supplies        Paper
4280  ...       11561     East  OFF-LA-10003766  Office Supplies       Labels
4281  ...       11561     East  OFF-SU-10000898  Office Supplies     Supplies
4282  ...       30605    South  TEC-PH-10004006       Technology       Phones
4283  ...       92627     West  OFF-PA-10004041  Office Supplies        Paper

                                           Product Name     Sales  Quantity  \
0         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
1     Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
2                                            Newell 322    7.2800         4
3                        Mitel 5320 IP Phone VoIP phone  907.1520         6
4                      Belkin F5C206VTEL 6 Outlet Surge  114.9000         5
...                                                 ...       ...       ...
4279  RSVP Cards & Envelopes, Blank White, 8-1/2" X ...   35.5600         7
4280                     Self-Adhesive Removable Labels   31.5000        10
4281  Acme Hot Forged Carbon Steel Scissors with Nic...   55.6000         4
4282                    Panasonic KX - TS880B Telephone  206.1000         5
4283  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4

      Discount    Profit
0         0.45 -383.0310
1         0.00   14.1694
2         0.00    1.9656
3         0.20   90.7152
4         0.00   34.4700
...        ...       ...
4279      0.00   16.7132
4280      0.00   15.1200
4281      0.00   16.1240
4282      0.00   55.6470
4283      0.00   13.3200

[4284 rows x 21 columns]

## 10 “Second Class, Please” – Filter by Ship Mode
Explanation:
#### Displays all orders that were shipped using the Second Class shipping mode.

### Query

In [29]:
df_unique = pd.read_sql_query(' SELECT * FROM superstore WHERE "Ship Mode" = "Second Class" ;',engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date     Ship Mode  \
0          1  CA-2016-152156  11-08-2016  11-11-2016  Second Class
1          2  CA-2016-152156  11-08-2016  11-11-2016  Second Class
2          3  CA-2016-138688  06-12-2016   6/16/2016  Second Class
3         18  CA-2014-167164   5/13/2014   5/15/2014  Second Class
4         19  CA-2014-143336   8/27/2014  09-01-2014  Second Class
...      ...             ...         ...         ...           ...
1940    9966  CA-2016-146374  12-05-2016  12-10-2016  Second Class
1941    9967  CA-2016-146374  12-05-2016  12-10-2016  Second Class
1942    9981  US-2015-151435  09-06-2015  09-09-2015  Second Class
1943    9990  CA-2014-110422   1/21/2014   1/23/2014  Second Class
1944    9994  CA-2017-119914  05-04-2017  05-09-2017  Second Class

     Customer ID       Customer Name    Segment        Country           City  \
0       CG-12520         Claire Gute   Consumer  United States      Henderson
1       CG-12520         Claire Gute   Consumer  United States      Henderson
2       DV-13045     Darrin Van Huff  Corporate  United States    Los Angeles
3       AG-10270     Alejandro Grove   Consumer  United States    West Jordan
4       ZD-21925  Zuschuss Donatelli   Consumer  United States  San Francisco
...          ...                 ...        ...            ...            ...
1940    HE-14800        Harold Engle  Corporate  United States         Newark
1941    HE-14800        Harold Engle  Corporate  United States         Newark
1942    SW-20455         Shaun Weien   Consumer  United States      Lafayette
1943    TB-21400    Tom Boeckenhauer   Consumer  United States          Miami
1944    CC-12220        Chris Cortes   Consumer  United States    Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       84084    West  OFF-ST-10000107  Office Supplies      Storage
4     ...       94109    West  OFF-AR-10003056  Office Supplies          Art
...   ...         ...     ...              ...              ...          ...
1940  ...       19711    East  OFF-PA-10000349  Office Supplies        Paper
1941  ...       19711    East  OFF-EN-10004483  Office Supplies    Envelopes
1942  ...       70506   South  FUR-TA-10001039        Furniture       Tables
1943  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
1944  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name    Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.960         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.940         3
2     Self-Adhesive Address Labels for Typewriters b...   14.620         2
3                            Fellowes Super Stor/Drawer   55.500         2
4                                            Newell 341    8.560         2
...                                                 ...      ...       ...
1940                                  Easy-staple paper    4.980         1
1941         #10 White Business Envelopes,4 1/8 x 9 1/2  109.690         7
1942                         KI Adjustable-Height Table   85.980         1
1943                             Ultra Door Pull Handle   25.248         3
1944  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.160         2

      Discount    Profit
0          0.0   41.9136
1          0.0  219.5820
2          0.0    6.8714
3          0.0    9.9900
4          0.0    2.4824
...        ...       ...
1940       0.0    2.3406
1941       0.0   51.5543
1942       0.0   22.3548
1943       0.2    4.1028
1944       0.0   72.9480

[1945 rows x 21 columns]

# 🎯 Moderate Level — Filtering, Sorting, Aggregation

## 1. Sort all orders by Sales in descending order

Explanation:
#### This sorts all records in the superstore table by Sales, highest first.

### Query

In [4]:
df_unique = pd.read_sql_query('SELECT "Sales" FROM superstore ORDER BY "Sales" DESC;',engine)
print(df_unique)

          Sales
0     22638.480
1     17499.950
2     13999.960
3     11199.968
4     10499.970
...         ...
9989      0.876
9990      0.852
9991      0.836
9992      0.556
9993      0.444

[9994 rows x 1 columns]

## 2. Show the top 5 orders with the highest Profit
Explanation:
#### Orders are arranged by Profit in descending order, and only the top 5 rows are shown.

### Query

In [5]:
df_unique = pd.read_sql_query('SELECT "Sales" FROM superstore ORDER BY "Sales" DESC LIMIT 5 ;',engine)
print(df_unique)

       Sales
0  22638.480
1  17499.950
2  13999.960
3  11199.968
4  10499.970

# 3. Find the total number of rows in the table
Explanation:
#### COUNT(*) counts all rows (orders) in the table.

In [6]:
df_unique = pd.read_sql_query('SELECT COUNT(*) AS TotalRows FROM superstore;',engine)
print(df_unique)

   TotalRows
0       9994

# 4.Calculate the total Sales for all orders
Explanation:
#### Adds up all values in the Sales column → total revenue.

In [7]:
df_unique = pd.read_sql_query(' SELECT SUM(Sales) AS TotalSales FROM superstore;',engine)
print(df_unique)

     TotalSales
0  2.297201e+06

# 5. Calculate the average Profit for each Category
Explanation:
#### Groups rows by Category and calculates average Profit for each.

In [10]:
df_unique = pd.read_sql_query(' SELECT "Category",AVG(Profit) AS TotalProfit FROM superstore GROUP BY "Category";',engine)
print(df_unique)

          Category  TotalProfit
0        Furniture     8.699327
1  Office Supplies    20.327050
2       Technology    78.752002

# 6. Find the total Sales for each Region
Explanation:
#### Shows region-wise total sales. Useful for business insights.

In [13]:
df_unique = pd.read_sql_query(' SELECT "Region" , SUM(Sales) AS TotalSale FROM superstore GROUP BY "Region" ORDER BY "Sales" ; ',engine) 
print(df_unique)

    Region    TotalSale
0     West  725457.8245
1  Central  501239.8908
2     East  678781.2400
3    South  391721.9050

# 7. Show the number of orders placed by each Customer Name
Explanation:
#### Counts orders grouped by each customer. Sorted to see who placed the most orders.

In [14]:
df_unique = pd.read_sql_query('SELECT "Customer Name" , SUM(Sales) AS TotalSale FROM superstore GROUP BY "Customer Name" ORDER BY "Sales" ; ',engine)
print(df_unique)

       Customer Name  TotalSale
0     Michael Nguyen   2477.946
1      Toby Swindell    974.782
2        Kean Nguyen   2171.962
3        Ken Brennan    983.922
4       Dorris liebe    755.602
..               ...        ...
788     Sean Braxton   8057.891
789  Tracy Blumstein   4737.486
790      John Murray   7625.076
791   Grant Thornton   9351.212
792     Tom Ashbrook  14595.620

[793 rows x 2 columns]

# 8. List all orders where Profit is negative
Explanation:
#### Filters rows where company had a loss (Profit < 0)

In [16]:
df_unique = pd.read_sql_query('SELECT * FROM superstore WHERE Profit < 0 ;',engine)
print(df_unique)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          4  US-2015-108966  10-11-2015  10/18/2015  Standard Class
1         15  US-2015-118983  11/22/2015  11/26/2015  Standard Class
2         16  US-2015-118983  11/22/2015  11/26/2015  Standard Class
3         24  US-2017-156909   7/16/2017   7/18/2017    Second Class
4         28  US-2015-150630   9/17/2015   9/21/2015  Standard Class
...      ...             ...         ...         ...             ...
1866    9921  CA-2016-149272   3/15/2016   3/19/2016  Standard Class
1867    9922  CA-2014-111360  11/24/2014  11/30/2014  Standard Class
1868    9932  CA-2015-104948  11/13/2015  11/17/2015  Standard Class
1869    9938  CA-2016-164889  06-03-2016  06-06-2016    Second Class
1870    9963  CA-2015-168088   3/19/2015   3/22/2015     First Class

     Customer ID     Customer Name      Segment        Country  \
0       SO-20335    Sean O'Donnell     Consumer  United States
1       HP-14815     Harold Pawlan  Home Office  United States
2       HP-14815     Harold Pawlan  Home Office  United States
3       SF-20065   Sandra Flanagan     Consumer  United States
4       TB-21520   Tracy Blumstein     Consumer  United States
...          ...               ...          ...            ...
1866    MY-18295   Muhammed Yedwab    Corporate  United States
1867    AT-10435       Alyssa Tate  Home Office  United States
1868    KH-16510     Keith Herrera     Consumer  United States
1869    CP-12340    Christine Phan    Corporate  United States
1870    CM-12655  Corinna Mitchell  Home Office  United States

                 City  ... Postal Code   Region       Product ID  \
0     Fort Lauderdale  ...       33311    South  FUR-TA-10000577
1          Fort Worth  ...       76106  Central  OFF-AP-10002311
2          Fort Worth  ...       76106  Central  OFF-BI-10000756
3        Philadelphia  ...       19140     East  FUR-CH-10002774
4        Philadelphia  ...       19140     East  FUR-BO-10004834
...               ...  ...         ...      ...              ...
1866            Bryan  ...       77803  Central  OFF-BI-10004233
1867            Akron  ...       44312     East  OFF-BI-10003350
1868   San Bernardino  ...       92404     West  FUR-BO-10004357
1869      Los Angeles  ...       90049     West  FUR-TA-10001676
1870          Houston  ...       77041  Central  FUR-BO-10004218

             Category Sub-Category  \
0           Furniture       Tables
1     Office Supplies   Appliances
2     Office Supplies      Binders
3           Furniture       Chairs
4           Furniture    Bookcases
...               ...          ...
1866  Office Supplies      Binders
1867  Office Supplies      Binders
1868        Furniture    Bookcases
1869        Furniture       Tables
1870        Furniture    Bookcases

                                           Product Name      Sales  Quantity  \
0         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
1     Holmes Replacement Filter for HEPA Air Cleaner...    68.8100         5
2      Storex DuraTech Recycled Plastic Frosted Binders     2.5440         3
3                    Global Deluxe Stacking Chair, Gray    71.3720         2
4     Riverside Palais Royal Lawyers Bookcase, Royal...  3083.4300         7
...                                                 ...        ...       ...
1866  GBC Pre-Punched Binding Paper, Plastic, White,...    22.3860         7
1867                    Acco Expandable Hanging Binders     5.7420         3
1868     O'Sullivan Living Dimensions 3-Shelf Bookcases   683.3320         4
1869       Hon 61000 Series Interactive Training Tables    71.0880         2
1870  Bush Heritage Pine Collection 5-Shelf Bookcase...   383.4656         4

      Discount     Profit
0         0.45  -383.0310
1         0.80  -123.8580
2         0.80    -3.8160
3         0.30    -1.0196
4         0.50 -1665.0522
...        ...        ...
1866      0.80   -35.8176
1867      0.70    -4.5936
1868      0.15   -40.1960
1869      0.20    -1.7772
1870      0.32   -67.6704

[1871 rows x 21 columns]

# 9.Find the highest Sales value in the table
Explanation:
#### MAX(Sales) finds the largest sales amount in the dataset.

In [17]:
df_unique = pd.read_sql_query(' SELECT MAX(Sales) AS HighSale FROM superstore ;',engine)
print(df_unique)

   HighSale
0  22638.48

# 10.Find the lowest Profit value in the table
Explanation:
#### MIN(Profit) returns the smallest profit value, i.e., maximum loss

In [18]:
df_unique = pd.read_sql_query(' SELECT MIN(Sales) AS LowSale FROM superstore ;',engine)
print(df_unique)

   LowSale
0    0.444

# 🎯 Advance Level — Grouping & Conditions

## 1. Find the total sales per Ship Mode
Explanation:
#### Groups all orders by Ship Mode and calculates the total Sales for each shipping method

In [20]:
df_unique = pd.read_sql_query('SELECT "Ship Mode" , SUM(Sales) AS TotalSale FROM superstore GROUP BY "Ship Mode" ORDER BY "Sales";',engine)
print(df_unique)

        Ship Mode     TotalSale
0        Same Day  1.283631e+05
1    Second Class  4.591936e+05
2  Standard Class  1.358216e+06
3     First Class  3.514284e+05

# 2. List customers who have placed more than 5 orders
Explanation:
#### Counts the total number of orders per customer and filters those who have more than 5.

In [27]:
df_unique = pd.read_sql_query('SELECT "Customer Name" , COUNT("Order ID") AS TotalOrders FROM superstore GROUP BY "Customer Name" HAVING COUNT("Order ID") > 5 ORDER BY TotalOrders DESC;',engine)
print(df_unique)

          Customer Name  TotalOrders
0         William Brown           37
1            Paul Prost           34
2          Matt Abelman           34
3              John Lee           34
4           Seth Vernon           32
..                  ...          ...
704        Brad Norvell            6
705  Benjamin Patterson            6
706           Bart Folk            6
707          Anna Chung            6
708       Aaron Bergman            6

[709 rows x 2 columns]

# 3. Find the total profit made in each Region for the year 2019
Explanation:
#### Filters records for 2019, groups them by Region, and sums the Profit for each.

In [33]:
query = """
SELECT 
    "Region",
    SUM("Profit") AS TotalProfit
FROM superstore
WHERE 
    (
        -- Case 1: format like dd/mm/yyyy (dayfirst)
        LENGTH("Order Date") = 10
        AND SUBSTR("Order Date", 7, 4) = '2019'
    )
    OR
    (
        -- Case 2: format like yyyy-dd-mm
        LENGTH("Order Date") = 10
        AND SUBSTR("Order Date", 1, 4) = '2019'
    )
GROUP BY "Region";
"""
df_unique = pd.read_sql_query(query, engine)
print(df_unique)

Empty DataFrame
Columns: [Region, TotalProfit]
Index: []

# 4. Show the average quantity of products sold per Category
Explanation:
#### Groups orders by Category and calculates the average Quantity sold.

In [35]:
df_unique = pd.read_sql_query('SELECT "Category" , AVG(Quantity) AS AverageQuantity FROM superstore GROUP BY "Category" ORDER BY "AverageQuantity" DESC;',engine)
print(df_unique)

          Category  AverageQuantity
0  Office Supplies         3.801195
1        Furniture         3.785007
2       Technology         3.756903

# 5. List all products with sales greater than the average sales
Explanation:
#### Finds the overall average Sales and returns products whose Sales exceed this value.

In [38]:
df_unique = pd.read_sql_query('SELECT "Product Name" , SUM(Sales) AS TotalSales FROM superstore GROUP BY "Product Name" HAVING SUM(Sales) > (SELECT AVG("Sales") FROM superstore) ORDER BY TotalSales DESC;',engine)
print(df_unique)

                                           Product Name  TotalSales
0                 Canon imageCLASS 2200 Advanced Copier   61599.824
1     Fellowes PB500 Electric Punch Plastic Comb Bin...   27453.384
2     Cisco TelePresence System EX90 Videoconferenci...   22638.480
3          HON 5400 Series Task Chairs for Big and Tall   21870.576
4            GBC DocuBind TL300 Electric Binding System   19823.479
...                                                 ...         ...
1040  Panasonic KP-4ABK Battery-Operated Pencil Shar...     234.240
1041                      Maxell 74 Minute CDR, 10/Pack     232.764
1042                                Petty Cash Envelope     231.856
1043  Tenex Personal Self-Stacking Standard File Box...     229.976
1044  Black & Decker Filter for Double Action Dustbu...     229.886

[1045 rows x 2 columns]

# 6. Find the top 3 customers by total sales
Explanation:
#### Groups orders by Customer Name, sums their Sales, and shows the top 3 highest spenders.

In [46]:
df_unique = pd.read_sql_query('''
    SELECT "Customer Name", 
           SUM("Sales") AS TotalSales
    FROM superstore
    GROUP BY "Customer Name"
    ORDER BY TotalSales DESC
    LIMIT 3;
''', engine)
print(df_unique)

  Customer Name  TotalSales
0   Sean Miller   25043.050
1  Tamara Chand   19052.218
2  Raymond Buch   15117.339

# 7. Count the number of distinct products sold
Explanation:
#### Counts the total number of unique products purchased from the dataset.

In [52]:
df_unique = pd.read_sql_query(''' SELECT COUNT(DISTINCT "Product Name") AS DistinctProductSold FROM superstore;
''',engine)
print(df_unique)

   DistinctProductSold
0                 1850

# 8. Show all sub-categories with total profit less than 0
Explanation:
#### Groups orders by Sub-Category and returns only those with negative Profit.

In [60]:
df_unique = pd.read_sql_query('SELECT "Sub Category" , SUM("Profit") AS TotalProfit FROM superstore GROUP BY "Sub Category" HAVING SUM("Profit") < 0  ORDER BY TotalProfit',engine)
print(df_unique)

Empty DataFrame
Columns: ["Sub Category", TotalProfit]
Index: []

# 9. Display the total sales and profit for each Category sorted by profit descending
Explanation:
#### Groups data by Category, calculates total Sales and Profit, and sorts results by Profit (highest first).

In [68]:
df_unique = pd.read_sql_query('SELECT "Category",SUM("Sales") AS TotalSale,SUM("Profit") AS TotalProfit FROM superstore GROUP BY "Category" ORDER BY TotalProfit DESC; ',engine)
print(df_unique)

          Category    TotalSale  TotalProfit
0       Technology  836154.0330  145454.9481
1  Office Supplies  719047.0320  122490.8008
2        Furniture  741999.7953   18451.2728

# 10. Find the month with the highest total sales
Explanation:
#### Extracts the month from Order Date, sums Sales per month, and returns the month with the highest total.

In [69]:
df_unique = pd.read_sql_query('''
    SELECT 
        strftime('%Y-%m', "Order Date") AS Month, 
        SUM("Sales") AS TotalSales
    FROM superstore
    GROUP BY Month
    ORDER BY TotalSales DESC
    LIMIT 1;
''', engine)

print(df_unique)

  Month    TotalSales
0  None  2.297201e+06